<div class="example-list" style="padding: 30px">
  <h1>Edit {{ data.name }} form</h1>
  <form
    *ngFor="let control of formControls"
    [ngSwitch]="control.controlType"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-form-field
      id="control.id"
      cdkDrag
      [appearance]="control.style"
      class="full-width-input"
      *ngSwitchCase="'textbox'"
    >
      <mat-label>{{ control.label }} </mat-label>
      <input
        [name]="control.name"
        matInput
        [type]="control.type"
        [value]="control.value"
      />
    </mat-form-field>

    <mat-form-field
      id="control.id"
      cdkDrag
      [appearance]="control.style"
      class="full-width-input"
      *ngSwitchCase="'number'"
    >
      <mat-label>{{ control.label }} </mat-label>
      <input
        [name]="control.name"
        matInput
        [type]="control.type"
        [value]="control.value"
      />
    </mat-form-field>
    <mat-form-field
      id="control.id"
      cdkDrag
      [appearance]="control.style"
      class="full-width-input"
      *ngSwitchCase="'password'"
    >
      <mat-label>{{ control.label }} </mat-label>
      <input
        [name]="control.name"
        matInput
        [type]="control.type"
        [value]="control.value"
      />
    </mat-form-field>
    <mat-form-field
      id="control.id"
      cdkDrag
      [appearance]="control.style"
      class="full-width-input"
      *ngSwitchCase="'textarea'"
      class="full-width-input"
    >
      <mat-label>{{ control.label }}</mat-label>
      <textarea matInput [name]="control.name" [value]="control.value">
      </textarea>
    </mat-form-field>
    <section cdkDrag *ngSwitchCase="'checkbox'">
      <mat-checkbox
        id="control.id"
        name="control.name"
        [checked]="control.value"
      >
        {{ control.label }}
      </mat-checkbox>
    </section>
    <mat-radio-group cdkDrag *ngSwitchCase="'radio'">
      <mat-radio-button value="control.value">{{
        control.label
      }}</mat-radio-button>
      <mat-radio-button value="control.valueTwo">{{
        control.labelTwo
      }}</mat-radio-button>
    </mat-radio-group>
    <div id="control.id" cdkDrag *ngSwitchCase="'button'">
      <button mat-raised-button [color]="control.color">
        {{ control.value }}
      </button>
    </div>
    <mat-icon (click)="openEditDialog(control)">edit</mat-icon>
    <!-- <mat-icon (click)="openDeleteDialog(control)">delete</mat-icon> -->
  </form>
  <button mat-raised-button color="accent" mat-dialog-close>Edit done</button>
</div>
